.home_films_items {
  width: 75%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* animation: 1s slideLeft; */
}

.home_films_item {
  border-radius: 8px;
  margin-bottom: 16px;
  background: #FFF;
  padding: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.home_films_item_buttons {
  display: flex;
}

.home_films_item_button {
  border-radius: 4px;
  background: #FF5500;
  color: white;
  width: 20px;
  height: 20px;
  margin: 0 8px;
  cursor: pointer;
  transition: .3s;
}

.home_films_item_button:hover {
  background: #ff0000;
}

.home_films_item_button:active {
  background: #d70202;
}

.btn_disabled {
  background-color: #FFA375;
  cursor: alias;
}

.btn_disabled:hover {
  background-color: #FFA375;
}

.home_films_item_info {
  display: flex;
  gap: 24px;
}

.home_films_item_info_img {
  border-radius: 8px;
  overflow: hidden;
  max-width: 100px;
  max-height: 120px;
}

.home_films_item_info_img img {
  width: 100%;
  height: 100%;
}

.home_films_item_info_subtitle {
  margin-top: 8px;
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
}

.home_filter {
  width: 25%;
  padding: 24px;
  height: calc(100vh - 156px);
  position: fixed;
  top: 84px;
  left: 0;
  display: flex;
  align-items: center;
}

.home_filter_container {
  padding: 24px;
  border-radius: 8px;
  background-color: #FFF;
  height: 100%;
  width: 100%;
}

.home_filter_input_container {
  font-size: 14px;
  font-family: SF Pro Text;
  line-height: 20px;
  margin-top: 20px;
  position: relative;
}

.home_filter_input_container input {
  margin-top: 4px;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #E1E3E6;
  outline: none;
  width: 100%;
  font-size: 14px;
  font-family: SF Pro Text;
  line-height: 20px;
  color: #999FA6;
  cursor: pointer;
  transition: .3s;
}

.home_filter_input_arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: .5s;
}

.home_filter_input_arrow_active {
  transform: rotate(180deg);
}

.home_filter_input_container input:focus {
  border: 1px solid #FF5500;
  color: black;
}

.home_filter_input_container input:focus::placeholder {
  color: black;
}

.home_filter_input_container input::placeholder {
  font-size: 14px;
  font-family: SF Pro Text;
  line-height: 20px;
  color: #999FA6;
}

.filter_list {
  position: absolute;
  background-color: #FFF;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 10px 22px -4px rgba(27, 31, 35, 0.12);
  width: 100%;
  top: 0;
  left: 0;
}

.filter_list_item {
  width: 100%;
  padding: 12px;
  cursor: pointer;
}

.filter_list_item:hover {
  background-color: #edeff1;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}